# Ignore environment files
/backend/.env

# General Python and Flask ignores
__pycache__/
*.py[cod]
*.pyo
instance/
*.log

# Ignore virtual environment directories
venv/
.env/
.env.*

# Byte-compiled and cached files
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db
